


<h1>Hospital Information</h1>
	<form>
		Hospital / Midwifery Practice Name: <input type="text" name="hospitalName">
		<br> 
		<br>
		Address: <input type="text" name="hospitalAddress">
		<br>
		<br>
		City: <input type="text" name="hospitalCity">
	</form>	
	<h2>Screening is performed by: </h2>
	<form>
		Last Name: <input type="text" name="nurseLName">
		<br>
		<br>
		First Name: <input type="text" name="nurseFName">
	</form>
	<br>
	<br>
 <button type="button" class="btn btn-primary btn-block" ui-sref="/eligibility">Next</button>