<div  data-spy="scroll" data-target="#myScrollspy" data-offset="20" class="scrollpyReview">
    <div class="row">
        <nav class="col-sm-3" id="myScrollspy">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a ui-sref="/babyInformation">Baby Information</a></li>
        <li><a ui-sref="/hospitalInformation">Hospital Information</a></li>
        <li><a ui-sref="/eligibility">Eligibility</a></li>
        <li>
          <a ui-sref="/testRepeat">Parent Consent</a>
        </li>
      </ul>
        </nav>
         <div class="col-sm-9">
      <div id="section1">    
        <h1>Child Information</h1>
        <p>Try to scroll this section and look at the navigation list while scrolling!</p>
      </div>
      <div id="section2"> 
        <h1>Hospital Information</h1>
        <p>Try to scroll this section and look at the navigation list while scrolling!</p>
      </div>        
      <div id="section3">         
        <h1>Child Eligibility</h1>
        <p>Try to scroll this section and look at the navigation list while scrolling!</p>
      </div>
      <div id="section41">         
        <h1>Parent Consent</h1>
        <p>Try to scroll this section and look at the navigation list while scrolling!</p>
      </div>      
      <div id="section42">         
        <h1>Review & Submit</h1>
        <p>Try to scroll this section and look at the navigation list while scrolling!</p>
      </div>
    </div>
  </div>
</div>

